#messageInput {
  width: 70%;
  margin: 0 auto;

  input {
    width: 50%;
    height: 2em;
    text-align: left;
    border: 1px solid gray;
    border-radius: 5em;
    padding-left: 30px;
    transition: width 0.5s;
    box-sizing: border-box;
  }

  input:focus {
    width: 80%;
    outline: none;
  }
}